.about-who {
  background-color: #e7e7e7;
  margin-bottom: 120px;
  margin-top: -60px;
  &-container {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 78px;
  }
  &-heading {
    font-size: 40px;
    line-height: calc(60 / 40);
    color: #000;
    font-weight: 600;
    margin-bottom: 34px;
    span {
      color: #42bdec;
    }
  }
  &-desc {
    max-width: 540px;
    color: #565656;
    font-size: 18px;
    line-height: calc(42 / 18);
  }
  &-img {
    margin-top: -220px;
  }
}
