.about-engaged {
  background-color: #000;
  margin-bottom: 150px;
  &-heading {
    font-size: 35px;
    line-height: calc(63 / 35);
    font-weight: 600;
    margin: 0 auto;
    text-align: center;
    padding-top: 74px;
    margin-bottom: 20px;
  }
  &-desc {
    font-size: 17px;
    line-height: calc(36 / 17);
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    font-weight: 400;
    margin-bottom: 53px;
  }
  &-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 41px 54px;
    max-width: 948px;
    margin: 0 auto;
  }
  &-img:last-child {
    margin: 0 auto;
    margin-bottom: 76px;
  }
  &-img {
    &:hover {
      transform: scale(0.9);
      transition: all 0.2s linear;
    }
  }
}
