.about-engaged {
  background-color: #000;
  &-heading {
    font-size: 35px;
    line-height: calc(63 / 35);
    font-weight: 600;
    margin: 0 auto;
    text-align: center;
    padding-top: 74px;
    margin-bottom: 20px;
  }
  &-desc {
    font-size: 17px;
    line-height: calc(36 / 17);
  }
}
