.about-meet {
  margin-bottom: 150px;
  &-container {
    max-width: 1180px;
    margin: 0 auto;
  }
  &-boxbig {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 28px;
  }
  &-heading {
    font-size: 27px;
    line-height: calc(63 / 27);
    color: #000;
    margin-bottom: 40px;
    font-weight: 600;
  }
  &-desc {
    font-size: 21px;
    line-height: calc(29 / 21);
    max-width: 267px;
    margin-top: 29px;
    margin-bottom: 10px;
    color: #0a0a0a;
  }
  &-name {
    font-size: 16px;
    line-height: calc(22 / 16);
    color: #000;
    font-weight: 500;
    span {
      color: #6e00fa;
    }
  }
}
.slick-arrow {
  position: absolute;
  top: 40%;
  transform: translate(-50%, -50%);
  background-color: #e6e6e6;
  z-index: 2;
}
.slick-prev {
  left: -4%;
  border: none;
  width: 58px;
  height: 58px;
  border-radius: 100%;
}
.slick-next {
  right: calc(-6% - 5px);
  border: none;
  width: 58px;
  height: 58px;
  border-radius: 100%;
}
.slick-dots button {
  display: none;
}
.icon-inner {
  height: 24px;
  width: 14px;
}
