.about-meet {
  margin-bottom: 150px;
  &-container {
    max-width: 1180px;
    margin: 0 auto;
  }
  &-boxbig {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-heading {
    font-size: 27px;
    line-height: calc(63 / 27);
    color: #000;
    margin-bottom: 40px;
    font-weight: 600;
  }
  &-desc {
    font-size: 21px;
    line-height: calc(29 / 21);
    max-width: 267px;
    margin-top: 29px;
    margin-bottom: 10px;
    color: #0a0a0a;
  }
  &-name {
    font-size: 16px;
    line-height: calc(22 / 16);
    color: #000;
    font-weight: 500;
    span {
      color: #6e00fa;
    }
  }
}
.slick-prev {
  position: absolute;
  top: 50%;
  left: -5%;
  transform: translate(-50%, -50%);
  background-color: #e6e6e6;
  z-index: 2;
}
.slick-next {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(-50%, -50%);
  background-color: #e6e6e6;
  z-index: 2;
}
