.footer {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 75px 104px 74px 104px;
  &-lorem2 {
    display: flex;
    gap: 0 8px;
  }
  &-desc {
    padding: 3px 30px;
  }
}
