.footer {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  padding: 75px 20px;
  gap: 0 116px;
  &-heading {
    font-size: 22px;
    line-height: calc(42 / 22);
    margin-bottom: 11px;
    font-weight: 500;
    max-width: 336px;
    &:nth-child(2) {
      margin-bottom: 25px;
    }
  }
  &-lorem2 {
    display: flex;
    gap: 0 8px;
    cursor: pointer;
    max-width: 196px;
  }
  &-lorem1 {
    cursor: pointer;
    max-width: 143px;
    text-align: center;
  }
  &-desc {
    padding: 3px 30px;
    background-color: #464646;
    border-radius: 3px;
    margin-top: 10px;
    &:hover {
      background-color: red;
    }
  }
  &-desc2 {
    font-size: 16px;
    line-height: calc(30 / 16);
    font-weight: 400;
    color: #737373;
  }
  &-desc1 {
    padding: 3px 100px;
    background-color: #464646;
    border-radius: 3px;
    margin-top: 10px;
    &:hover {
      background-color: red;
    }
  }
  &-input {
    max-width: 285px;
    display: flex;
    font-size: 22px;
    position: relative;
    margin-bottom: 74px;

    input {
      padding: 10px 100px 10px 5px;
      border-radius: 4px;
      box-shadow: none;
      border: none;
    }
  }
  &-icon {
    position: absolute;
    right: 0px;
    top: 0%;
    padding: 9px 15px;
    background-color: #6e00fa;
    border-radius: 4px;
  }
  &-desc-last {
    margin-bottom: 77px;
  }
  &-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 16px;
    margin-top: 235px;
    img {
      width: 40px;
      height: 40px;
    }
  }
}
