.wrapper {
  max-width: 1360px;
  margin: 0 auto;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
.container-fly {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}
body {
  font-family: $font;
  line-height: 1;
  font-size: 18px;
  font-weight: 400;
  color: $primary-color;
}
ul {
  list-style-type: none;
}
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  height: 50px;
  padding: 10px 27px;
  border-radius: 6px;
  border: 0;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition-duration: 0.3s;
  &-border {
    color: #fff;
    border: 1px solid #42bdec;
    &:hover {
      border-color: rgb(8, 226, 81);
      transition: all 0.2s linear;
    }
  }
}
.button-black {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  height: 50px;
  padding: 11px 29px;
  border: 0;
  background-color: #000;
  outline: none;
  cursor: pointer;
  transition-duration: 0.3s;
  color: #fff;
  &:hover {
    background-color: red;
  }
}
