.wrapper {
  max-width: 1360px;
  margin: 0 auto;
}
.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 20px;
}
body {
  font-family: $font;
  line-height: 1;
  font-size: 18px;
  font-weight: 400;
  color: $text-color;
  background-color: $body-color;
}
ul {
  list-style-type: none;
}
