.header {
  background-color: #070d18;
  padding-top: 20px;
  position: relative;
  &:after {
    position: absolute;
    content: " ";

    width: 1440.1px;
    height: 63.5px;
    left: -0.05px;
    top: 24px;
  }
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
