.latest {
  margin-bottom: 150px;
  &-heading {
    margin: 0 auto;
    text-align: center;
    color: #000;
    font-size: 35px;
    line-height: calc(62 / 25);
    font-weight: 600;
    margin-bottom: 18px;
  }
  &-desc {
    margin: 0 auto;
    text-align: center;
    color: #505050;
    font-size: 15px;
    line-height: calc(26 / 15);
    font-weight: 400;
    max-width: 559px;
    margin-bottom: 14px;
  }
  &-view {
    font-size: 20px;
    line-height: calc(35 / 20);
    color: #6e00fa;
    margin-left: 80%;
    margin-bottom: 36px;
  }
  &-slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 48px;
  }
  &-slider-date {
    color: #6a6a6a;
    font-size: 16px;
    line-height: calc(33 / 16);
    font-weight: 500;
  }
  &-slider-header {
    color: #000;
    font-size: 18px;
    line-height: calc(38 / 18);
    font-weight: 600;
  }
  &-slider-desc {
    color: #424242;
    font-size: 16px;
    line-height: calc(33 / 16);
    font-weight: 400;
    max-width: 305px;
  }
}
