.news-lorem {
  &-container {
    max-width: 1130px;
    margin: 0 auto;
  }
  &-box-first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 60px;
  }
  &-header {
    font-size: 27px;
    line-height: calc(48 / 27);
    font-weight: 600;
    color: #000;
    margin-bottom: 33px;
    max-width: 525px;
  }
}
