.services {
  &-container {
    max-width: 1218px;
    margin: 0 auto;
  }
  &-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-header {
    font-size: 32px;
    line-height: calc(48 / 32);
    font-weight: 600;
  }
}
