.simple {
  background-color: #070d18;
  margin: 0 auto;
  &-container {
    position: relative;
    span {
      color: #41bbea;
    }
  }
  &-heading {
    max-width: 733px;
    font-size: 42px;
    line-height: calc(74 / 42);
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  &-desc {
    max-width: 621px;
    font-size: 20px;
    line-height: calc(38 / 20);
    text-align: center;
    margin: 0 auto;
    color: #cecece;
    margin-bottom: 80px;
  }
  &-get {
    margin-bottom: 76px;
    img {
      margin: 0 auto;
      align-items: center;
    }
  }
  &-1234 {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    gap: 0 84px;
    max-width: 317px;
  }
  &-1234-first,
  &-1234-second {
    max-width: 117px;
  }
  &-1234-heading {
    font-size: 35px;
    line-height: calc(65 / 25);
    margin: 0 auto;
    text-align: center;
  }
  &-1234-desc {
    font-size: 14px;
    line-height: calc(25 / 13);
    margin: 0 auto;
    text-align: center;
  }
  &-vector1 {
    position: absolute;
    left: 50px;
    top: 300px;
  }
  &-vector2 {
    position: absolute;
    left: 270.86px;
    top: 718.39px;
  }
  &-vector3 {
    position: absolute;
    left: 50px;
    top: 300px;
  }
  &-vector4 {
    position: absolute;
    left: 50px;
    top: 300px;
  }
}
