.wedo {
  margin-bottom: 150px;
  img {
    width: 81px;
    height: 80px;
    display: inline-block;
  }
  &-boxbig {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 46px;
  }
  &-img1 {
    background-color: #fff2f2;
    border-radius: 20px;
    padding: 25px;
  }

  &-heading {
    color: #000;
    text-align: center;
    font-size: 25px;
  }
  &-desc {
    max-width: 383px;
    color: #797979;
    text-align: center;
  }
}
