.wedo {
  margin-bottom: 150px;
  img {
    width: 81px;
    height: 80px;

    display: inline-block;
  }
  &-boxbig {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 46px;
  }
  &-img1 {
    margin: 0 auto;
    text-align: center;
    img {
      background-color: #fff2f2;
      padding: 25px;
      border-radius: 20px;
    }
  }

  &-heading {
    color: #000;
    text-align: center;
    font-size: 25px;
    line-height: calc(45 / 25);
  }
  &-desc {
    max-width: 383px;
    color: #797979;
    text-align: center;
    font-size: 16px;
    line-height: calc(28 / 16);
  }
}
