.wedo {
  margin-bottom: 150px;
  img {
    width: 81px;
    height: 80px;
    display: inline-block;
  }
  &-boxbig {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 46px;
  }
  &-img1 {
    background-color: #fff2f2;
    border-radius: 20px;
    padding: 25px;
  }

  &-heading {
    color: #000;
  }
  &-desc {
    color: #797979;
  }
}
