html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.wrapper {
  max-width: 1360px;
  margin: 0 auto;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}

ul {
  list-style-type: none;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  height: 50px;
  padding: 10px 27px;
  border-radius: 6px;
  border: 0;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition-duration: 0.3s;
}
.button-border {
  color: #fff;
  border: 1px solid #42bdec;
}
.button-border:hover {
  border-color: #08e251;
  transition: all 0.2s linear;
}

.header {
  background-color: #070d18;
  padding-top: 20px;
  position: relative;
  padding-bottom: 88px;
}
.header .header-one {
  padding-bottom: 0;
}
.header:after {
  position: absolute;
  content: " ";
  background-color: rgba(255, 255, 255, 0.29);
  width: 100%;
  height: 3px;
  left: -0.05px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 80px;
  margin-bottom: 23px;
}
.menu-link {
  color: inherit;
}
.menu-link:after {
  bottom: 100px;
  display: block;
  content: "";
  border-bottom: solid 3px #42bdec;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.menu-link:hover:after {
  transform: scaleX(1);
  bottom: 100px;
}
.menu-link:hover {
  color: #fff;
}
.menu-item {
  font-size: 16px;
}

.simple {
  background-color: #070d18;
  position: relative;
  margin: 0 auto;
  margin-bottom: 109px;
}
.simple-container span {
  color: #41bbea;
}
.simple-heading {
  max-width: 733px;
  font-size: 42px;
  line-height: 1.7619047619;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
  animation: revolveScale 3s forwards;
  opacity: 0;
  transform: translate(-150px, -50px) rotate(-180deg) scale(3);
}
.simple-desc {
  max-width: 621px;
  font-size: 20px;
  line-height: 1.9;
  text-align: center;
  margin: 0 auto;
  color: #cecece;
  margin-bottom: 80px;
  animation: revolveScale 5s forwards;
  opacity: 0;
  transform: translate(-150px, -50px) rotate(-180deg) scale(3);
}
.simple-get {
  margin-bottom: 76px;
}
.simple-get img {
  margin: 0 auto;
  align-items: center;
}
.simple-1234 {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  gap: 0 84px;
  max-width: 317px;
  padding-bottom: 150px;
}
.simple-1234-first, .simple-1234-second {
  max-width: 117px;
}
.simple-1234-heading {
  font-size: 35px;
  line-height: 2.6;
  margin: 0 auto;
  text-align: center;
}
.simple-1234-desc {
  font-size: 14px;
  line-height: 1.9230769231;
  margin: 0 auto;
  text-align: center;
}
.simple-vector1 {
  position: absolute;
  left: 50px;
  top: 125px;
  animation: rise 2.25s infinite ease-in-out;
}
.simple-vector2 {
  position: absolute;
  left: 270.86px;
  top: 600px;
  animation-name: scale;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.simple-vector3 {
  position: absolute;
  right: 140px;
  top: 60px;
  animation-name: scale;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.simple-vector4 {
  position: absolute;
  right: 70px;
  top: 350px;
  animation: rise 2.25s infinite ease-in-out;
}
@keyframes scale {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(100);
  }
}
@keyframes rise {
  50% {
    font-variation-settings: "wght" var(--upper);
    color: hsla(180, 100%, 100%, var(--alpha-u));
    transform: translate(0, -15%);
  }
}
@keyframes revolveScale {
  60% {
    transform: translate(20px, 20px) rotate(30deg) scale(0.3);
  }
  100% {
    transform: translate(0) rotate(0) scale(1);
    opacity: 1;
  }
}

.about {
  margin-bottom: 150px;
}
.about-container {
  margin: 0 auto;
  text-align: center;
}
.about-heading {
  color: #000000;
  font-size: 30px;
  line-height: 1.7777777778;
  margin-bottom: 35px;
}
.about-heading span {
  color: #42bdec;
}
.about-desc {
  margin: 0 auto;
  text-align: center;
  font-size: 15px;
  line-height: 1.6666666667;
  max-width: 920px;
  color: #505050;
  margin-bottom: 75px;
}
.about-box {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-box-children {
  max-width: 381px;
  background-color: #f8f7f7;
  border-radius: 20px;
  padding: 25px 35px 51px 34px;
  height: 349px;
}
.about-box-children:nth-child(3) {
  padding: 25px 37px 50px 37px;
}
.about-box-children:hover {
  background-color: #e4e4e4;
  transform: translateY(-10px);
  transition: all 0.25s linear;
  cursor: pointer;
}
.about-box-img {
  height: 110px;
  width: 120px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 12px;
}
.about-box-img:nth-child(2) {
  width: 100%;
}
.about-box-img img {
  width: 100%;
  height: 100%;
}
.about-box-heading {
  color: #000000;
  font-size: 19px;
  line-height: 1.7894736842;
  margin-bottom: 22px;
}
.about-box-desc {
  color: #808080;
  font-size: 14px;
  line-height: 1.7857142857;
  max-width: 332px;
}

.wedo {
  margin-bottom: 150px;
}
.wedo img {
  display: inline-block;
}
.wedo-header {
  color: #000;
  font-weight: 600;
  font-size: 35px;
  line-height: 177.9%;
  margin: 0 auto;
  text-align: center;
}
.wedo-boxbig {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 46px;
}
.wedo-boxbig:nth-child(2) {
  margin-top: 90px;
}
.wedo-box {
  width: 283px;
}
.wedo-box:hover {
  transform: translateY(-10px);
  transform: rotate(360deg);
  transition: all 0.5s linear;
}
.wedo-boxone {
  margin-top: 30px;
}
.wedo-img1, .wedo-img2, .wedo-img3, .wedo-img4, .wedo-img5, .wedo-img6, .wedo-img7, .wedo-img8 {
  margin: 0 auto;
  text-align: center;
  width: 101px;
  height: 100px;
  border-radius: 20px;
}
.wedo-img1 img, .wedo-img2 img, .wedo-img3 img, .wedo-img4 img, .wedo-img5 img, .wedo-img6 img, .wedo-img7 img, .wedo-img8 img {
  padding: 25px;
}
.wedo-img1 {
  background-color: #fff2f2;
}
.wedo-img2 {
  background-color: #fdfbda;
}
.wedo-img3 {
  background-color: #e2f3ff;
}
.wedo-img4 {
  background-color: #ffe7fb;
}
.wedo-img5 {
  background-color: #f6eee7;
}
.wedo-img6 {
  background-color: #f1f1f1;
}
.wedo-img7 {
  background-color: #f1e8ff;
  margin-top: 26px;
}
.wedo-img8 {
  background-color: #e2fff1;
}
.wedo-heading {
  color: #000;
  text-align: center;
  font-size: 25px;
  line-height: 1.8;
  margin-top: 39px;
}
.wedo-desc {
  color: #797979;
  text-align: center;
  font-size: 16px;
  line-height: 1.75;
  margin-top: 15px;
}

.number {
  margin-bottom: 150px;
  background-color: #000;
  position: relative;
}
.number-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 160px;
  padding: 129px 178px 135px;
}
.number-heading {
  font-size: 65px;
  line-height: 1.7692307692;
  font-weight: 600;
  text-align: center;
}
.number-desc {
  font-size: 16px;
  line-height: 1.75;
  font-weight: 400;
  text-align: center;
  width: 161px;
}
.number-vector1 {
  position: absolute;
  top: -70px;
  right: 100px;
}
.number-vector2 {
  position: absolute;
  bottom: -50px;
  left: 240px;
}
.number-vector3 {
  position: absolute;
  top: -100px;
  left: 70px;
}
.number-vector4 {
  position: absolute;
  bottom: 0px;
  left: -50px;
}
.number-vector5 {
  position: absolute;
  top: -50px;
  right: 100px;
}

.latest {
  margin-bottom: 150px;
}
.latest-container {
  max-width: 1257px;
  margin: 0 auto;
}
.latest-heading {
  margin: 0 auto;
  text-align: center;
  color: #000;
  font-size: 35px;
  line-height: 2.48;
  font-weight: 600;
  margin-bottom: 18px;
}
.latest-desc {
  margin: 0 auto;
  text-align: center;
  color: #505050;
  font-size: 15px;
  line-height: 1.7333333333;
  font-weight: 400;
  max-width: 559px;
  margin-bottom: 14px;
}
.latest-view {
  font-size: 20px;
  line-height: 1.75;
  color: #6e00fa;
  margin-left: 90%;
  margin-bottom: 36px;
}
.latest-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 48px;
}
.latest-slider-img {
  width: 332px;
  height: 281px;
}
.latest-slider-img img {
  width: 100%;
  height: 100%;
}
.latest-slider-img img:hover {
  transform: scale(0.9);
  transition: all 0.25s linear;
}
@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.9);
  }
}
.latest-slider-date {
  color: #6a6a6a;
  font-size: 16px;
  line-height: 2.0625;
  font-weight: 500;
  margin-top: 22px;
  margin-bottom: 9px;
}
.latest-slider-header {
  color: #000;
  font-size: 18px;
  line-height: 2.1111111111;
  font-weight: 600;
  margin-bottom: 40px;
}
.latest-slider-desc {
  color: #424242;
  font-size: 16px;
  line-height: 210.9%;
  margin-bottom: 25px;
  font-weight: 400;
  max-width: 305px;
}
.latest-slider-desc3 {
  color: #424242;
  font-size: 16px;
  line-height: 210.9%;
  margin-top: -40px;
  margin-bottom: 25px;
  font-weight: 400;
  max-width: 305px;
}
.latest-slider-more {
  display: flex;
  align-items: center;
  gap: 0 7px;
}
.latest-slider-more:hover a {
  color: #179ce9;
  transition: all 0.25s linear;
}

.slick-track {
  display: flex;
  align-items: center;
  gap: 0 160px;
}

.slick-dots li button::before {
  font-size: 10px;
}

.footer {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  padding: 75px 20px;
  gap: 0 116px;
}
.footer-column {
  position: relative;
}
.footer-column::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 285px;
  background-color: #ffffff;
  left: calc(100% + 70px);
  top: 0;
}
.footer-column:nth-child(4)::after {
  display: none;
}
.footer-heading {
  font-size: 22px;
  line-height: 1.9090909091;
  margin-bottom: 11px;
  font-weight: 500;
  max-width: 336px;
}
.footer-heading:nth-child(2) {
  margin-bottom: 25px;
}
.footer-lorem2 {
  display: flex;
  gap: 0 8px;
  cursor: pointer;
  max-width: 196px;
}
.footer-lorem1 {
  cursor: pointer;
  max-width: 143px;
  text-align: center;
}
.footer-desc {
  padding: 3px 30px;
  background-color: #464646;
  border-radius: 3px;
  margin-top: 10px;
}
.footer-desc:hover {
  background-color: red;
  transition: all 0.2s linear;
}
.footer-desc2 {
  font-size: 16px;
  line-height: 1.875;
  font-weight: 400;
  color: #737373;
}
.footer-desc1 {
  padding: 3px 100px;
  background-color: #464646;
  border-radius: 3px;
  margin-top: 10px;
}
.footer-desc1:hover {
  background-color: red;
}
.footer-input {
  max-width: 285px;
  display: flex;
  font-size: 22px;
  font-weight: 500;
  position: relative;
  margin-bottom: 74px;
}
.footer-input input {
  padding: 10px 100px 10px 5px;
  border-radius: 4px;
  box-shadow: none;
  border: none;
}
.footer-icon {
  position: absolute;
  right: 0px;
  top: 0%;
  padding: 9px 15px;
  background-color: #6e00fa;
  border-radius: 4px;
  transition: all 0.2s linear;
}
.footer-icon:hover {
  background-color: #c43c3c;
  cursor: pointer;
}
.footer-desc-last {
  margin-bottom: 77px;
}
.footer-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 16px;
  margin-top: 235px;
}
.footer-media img {
  width: 40px;
  height: 40px;
}
.footer-media-img:hover {
  transform: scale(1.3);
}

/*# sourceMappingURL=app.css.map */
